<header>
        <nav class="top-nav container">
            <div class="rov d-flex align-items-center">
                <div class="col-sm">
                    <svg >
                        <use href="./img/sprite.svg#icon-logo" class="icon-logo"></use>
                    </svg>
                </div>
                <div class="col-sm d-flex">
                    <ul class="d-flex justify-content-around">
                        <li><a>Главная</a></li>
                        <li><a>Услуги</a></li>
                        <li><a>Контакты</a></li>
                    </ul>
                    <div class="col-sm"> 
                        <a href="tel:+38 096 917 59 31">+38 096 917 59 31</a>
                        <svg width="30" height="30">
                            <use href="./img/sprite.svg#icon-mail" class="icon-mail"></use>
                        </svg>  
                    </div> 
                </div> 
                
            </div>
        </nav>
     
        
    </div>
</header>

